---
---

$primary-font: 'Slabo 27px';
$alt-font: 'PT Mono';

body {
  position: relative;
  font-family: $primary-font;
  font-size: 2rem;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $alt-font;
}

p {
  padding: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit
  }
}

p a, .link {
  -webkit-tap-highlight-color: rgba(47,231,173,0.4);
  border-bottom: 1px dotted #2fe7ad;
  transition: color .2s;
  &:hover {
    color: #2fe7ad;
    transition: color .2s;
    border-bottom-style: none;
  }
}

ul {
  list-style: disc;
  padding-left: 2rem;
  padding-top: 1rem;
}

footer {
  color: #616161;
  text-align: center;
}

nav a {
  border-bottom: 0;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 10rem;
  background-color: #ffffff;
  padding: 5rem;
  border-radius: .5rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
}

i[class^="icon-"] {
  font-size: 150%;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
    transition: opacity .2s;
  }
}

.icon-facebook, .icon-facebook-official, .icon-instagram {
  color: #3b5998;
}

.icon-ie {
  color: #00baf0;
}

.icon-opera {
  color: #ff1b2d;
}

.icon-chrome {
  color: #7eaedc;
}

.icon-firefox {
  color: #db5226;
}

.icon-star {
  color: #e9fa55;
}

.icon-android {
  color: #a4c639;
}

.icon-spotify {
  color: #00d166;
}

.icon-twitter {
  color: #55acee;
}

.icon-mail-alt {
  color: #26a69a;
}

.icon-youtube-play {
  color:#e52d27;
}

.lowered {
  text-transform: lowercase;
}

#cover {
  overflow: hidden;
}

#cover-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  margin: -15px;
  background-image: url(/img/aurora.jpg);
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

@media only screen and (max-width : 500px) {
  .container {
    width: 95%;
    padding: 4rem 2.5rem;
  }
}
