---
---

.potd {
  border-radius: .2rem;
  height: 25rem;
  width: auto;
  transition: box-shadow .5s;
}

.potd:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
  transition: box-shadow .5s;
}

#comics {
  margin: 2rem;
}

#typed {
  display: inline-block;
}