---
layout: plain
---

<head>
    {% include head_defaults.html %}
    <script src="{{ '/js/index.js' | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ '/css/index.css' | prepend: site.baseurl }}"/>
</head>

<body>
    <div id="cover">
        <div id="cover-img"></div>
    </div>

    <div class="container">
        <header>
            <h6 class="lowered">kabir goel&nbsp;|&nbsp;<span id="typed"></span></h6>
            <hr/>
            <nav>
                <a href="//instagram.com/@{{ site.instagram_username }}" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="//open.spotify.com/user/{{ site.spotify }}" title="Spotify"><i class="icon-spotify"></i></a>
                <a href="//twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="//github.com/{{ site.github_username }}" title="GitHub"><i class="icon-github"></i></a>
                <a href="//facebook.com/{{ site.facebook_username }}" title="Facebook"><i class="icon-facebook"></i></a>
                <a href="mailto:{{ site.email }}" title="Email"><i class="icon-mail-alt"></i></a>
            </nav>
            <hr/>
        </header>

        <section>
            <p>
                Hey there! I'm Kabir, a computer ninja and aspiring quizzer who can usually be found prowling <a href="//github.com/">GitHub</a>. My favourite pastime is learning programming languages. I'm awesome at Python, C, Ruby, JavaScript and Clojure.
            </p>
        </section>

        <hr/>

        <section>
            <h6>projects</h6>
            <ul>
                <li><a class="link" href="/minty">Minty: a simple pomodoro timer with an emphasis on speed, design and simplicity</a></li>
            </ul>
        </section>

        <hr/>

        <section>
            <h6>courses i'm taking</h6>
            <ul>
                <li><a class="link" href="//cs50.harvard.edu/">Harvard University, CS50: Intro to Computer Science</a></li>
                <li><a class="link" href="//www.cs.virginia.edu/~cs415/">University of Virginia, CS4610: Programming Languages</a></li>
            </ul>
        </section>

        <hr/>

        <section>
            <h6>tournaments i've won</h6>
            <ul>
                <li><strong>The Texas Instruments Science and Technology Quiz (national winner)</strong></li>
                <li>DPS Gurgaon's Alphanode: Brainbox Quiz</li>
                <li>RDPS Pitampura's Digilogous: Junior Quiz</li>
                <li>Cambridge Noida's Technolympics: Science Marathon</li>
                <li>Cambridge Indirapuram's Infoyage: Junior Quiz</li>
            </ul>
        </section>

        <hr/>

        <section>
            <h6>and here's an xkcd comic</h6>
            <div id="comics"></div>
        </section>

        <hr/>

        <footer>
            <p>
                (c) 2014-<span class="js-current-year"></span> Kabir Goel.<br/>
                Written in HTML5, <a href="//sass-lang.coms">Sass</a> and JS [+ <a href="//jquery.com">jQuery</a>], using <a href="//jekyllrb.com">Jekyll</a>.<br/>
                Hosted on <a href="//pages.github.com/">GitHub Pages</a>.
            </p>
        </footer>
    </div>
</body>
