<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="theme-color" content="#2fe7ad"/>

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}"/>

<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/typed.min.js' | prepend: site.baseurl }}"></script>

<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'PT+Mono::latin', 'Slabo+27px::latin' ] }
    };

    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>

<link rel="icon" href="favicon.png" sizes="196x196" type="image/png"/>
<link rel="stylesheet" href="{{ '/font/icons/css/icons.css' | prepend: site.baseurl }}"/>
<link rel="stylesheet" href="{{ '/css/normalize.css' | prepend: site.baseurl }}"/>
<link rel="stylesheet" href="{{ '/css/skeleton.css' | prepend: site.baseurl }}"/>
<link rel="canonical" href="{{ site.baseurl | prepend: site.url }}"/>
<script src="{{ '/js/default.js' | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="{{ '/css/default.css' | prepend: site.baseurl }}"/>