
.icon-ie:before { content: '\e800'; } /* '' */
.icon-opera:before { content: '\e801'; } /* '' */
.icon-chrome:before { content: '\e802'; } /* '' */
.icon-firefox:before { content: '\e803'; } /* '' */
.icon-music:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-user-secret:before { content: '\e80c'; } /* '' */
.icon-videocam:before { content: '\e80d'; } /* '' */
.icon-video:before { content: '\e80e'; } /* '' */
.icon-bookmark:before { content: '\e810'; } /* '' */
.icon-quote-left:before { content: '\e811'; } /* '' */
.icon-quote-right:before { content: '\e812'; } /* '' */
.icon-code:before { content: '\e813'; } /* '' */
.icon-share:before { content: '\e814'; } /* '' */
.icon-thumbs-up:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e816'; } /* '' */
.icon-medium:before { content: '\e817'; } /* '' */
.icon-paragraph:before { content: '\e818'; } /* '' */
.icon-cloud:before { content: '\e819'; } /* '' */
.icon-wifi:before { content: '\e81a'; } /* '' */
.icon-behance:before { content: '\e81b'; } /* '' */
.icon-apple:before { content: '\e81c'; } /* '' */
.icon-android:before { content: '\e81d'; } /* '' */
.icon-git:before { content: '\e81e'; } /* '' */
.icon-github:before { content: '\e81f'; } /* '' */
.icon-github-squared:before { content: '\e820'; } /* '' */
.icon-html5:before { content: '\e821'; } /* '' */
.icon-facebook-official:before { content: '\e822'; } /* '' */
.icon-facebook:before { content: '\e824'; } /* '' */
.icon-dribbble:before { content: '\e825'; } /* '' */
.icon-linux:before { content: '\e826'; } /* '' */
.icon-stackoverflow:before { content: '\e827'; } /* '' */
.icon-spotify:before { content: '\e828'; } /* '' */
.icon-slack:before { content: '\e829'; } /* '' */
.icon-twitter:before { content: '\e82a'; } /* '' */
.icon-bug:before { content: '\e833'; } /* '' */
.icon-steam-squared:before { content: '\e834'; } /* '' */
.icon-steam:before { content: '\e835'; } /* '' */
.icon-reddit:before { content: '\e836'; } /* '' */
.icon-instagram:before { content: '\e837'; } /* '' */
.icon-gplus:before { content: '\e838'; } /* '' */
.icon-google:before { content: '\e839'; } /* '' */
.icon-github-circled:before { content: '\e83a'; } /* '' */
.icon-tumblr:before { content: '\e83b'; } /* '' */
.icon-youtube-play:before { content: '\e83c'; } /* '' */
.icon-heart-filled:before { content: '\e840'; } /* '' */
.icon-looped-square-interest:before { content: '\e842'; } /* '' */
.icon-paper-plane:before { content: '\e843'; } /* '' */
.icon-font:before { content: '\e844'; } /* '' */
.icon-at:before { content: '\e845'; } /* '' */
.icon-compass:before { content: '\e846'; } /* '' */
.icon-duckduckgo:before { content: '\e847'; } /* '' */
.icon-bold-1:before { content: '\e848'; } /* '' */
.icon-wikipedia:before { content: '\e849'; } /* '' */
.icon-fivehundredpx:before { content: '\e84a'; } /* '' */
.icon-stumbleupon:before { content: '\e84b'; } /* '' */
.icon-stackoverflow-1:before { content: '\e84c'; } /* '' */
.icon-pocket:before { content: '\e84d'; } /* '' */
.icon-grooveshark:before { content: '\e84e'; } /* '' */
.icon-bitcoin:before { content: '\e84f'; } /* '' */
.icon-asterisk:before { content: '\e850'; } /* '' */
.icon-fontsize:before { content: '\e851'; } /* '' */
.icon-globe:before { content: '\e854'; } /* '' */
.icon-italic-1:before { content: '\e858'; } /* '' */
.icon-doc:before { content: '\e859'; } /* '' */
.icon-params:before { content: '\e85a'; } /* '' */
.icon-header:before { content: '\e85b'; } /* '' */
.icon-text-height:before { content: '\e85c'; } /* '' */
.icon-text-width:before { content: '\e85d'; } /* '' */